<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<body layout:fragment="content">

<div class="content">
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <th>no</th>-->
<!--            <th>board_type</th>-->
<!--            <th>title</th>-->
<!--            <th>contents</th>-->
<!--            <th>user_id</th>-->
<!--            <th>create_time</th>-->
<!--            <th>update_time</th>-->
<!--            <th>counts</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <button id="writeBtn">작성</button>-->
    <h2>관리자 페이지!!!</h2>

</div>

<script>
    $('#writeBtn').click(function(){
        location.href="/board/write"
    })


</script>


</body>
</html>