<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jong.mopr.mapper.CodeMapper">
    <select id="getCode" resultType="CodeModel" parameterType="hashmap">
		SELECT 	*
		FROM 	CODE
		WHERE 	1=1
		<if test="group_code != null and group_code.equals('')">
		AND		GROUP_CODE = #{group_code}
		</if>
	</select>
</mapper>