<div class="header">
    <div style="text-align: right">
        <p style="color: aquamarine">[[${member.name}]]님</p>
        <button id="logoutBtn">로그아웃</button>
    </div>
    <div>
        <ul id="board" style="text-align: center">
            <li style="list-style: none">Board</li>
        </ul>
    </div>
</div>

<script>
    document.getElementById('logoutBtn').addEventListener('click',()=>{
        location.href="/logoutProc"
    })

    $('#board').click(function(){
        location.href="/board"


    })
</script>